<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../public/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap">
</head>

<body>
<div class="mainContainer">
    <div class="header">
        <div class="logo">
            <img src="../public/images/graduates.png" alt="3 Students">
            <p>THE <br> MANAGEMENT<br> 360</p>
        </div>
    </div>

    <div class="bodyContainer">

        <div class="managementImgUSERNAMEContainer">

            <img src="../public/images/team-management.png" alt="Management">

            <div class="usernameFieldContainer">
                <input type="text" placeholder="Username " required>
                <input type="password" placeholder="Password " required>
            </div>
            <button><i class="fas fa-arrow-alt-circle-right"></i></button>

        </div>

    </div>
</div>
</body>

</html>

<style>
    *{
        margin: 0;
        padding: 0;
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
    }

    body{
        background-color: #2b3134;
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
    }

    .bodyContainer{
        margin: 200px auto auto;
        width: 400px;
    }

    .managementImgUSERNAMEContainer img{
        margin-left: 90px;
        margin-bottom: 40px;
        width: 160px;
        height: auto;
    }

    .usernameFieldContainer{
        display: block;
        margin: auto;
    }

    button{
        margin-left: 150px;
        margin-top: 10px;
        border: none;
        background: #2b3134;
        font-size: 30px;
    }

    .fa-arrow-alt-circle-right{
        color: rgba(255, 255, 255, 0.35);
    }

    .fa-arrow-alt-circle-right:after{
        color: rgba(255, 255, 255, 0.35);
    }

    .fa-arrow-alt-circle-right:hover{
        color: #15e3e3;
    }

    .fa-arrow-alt-circle-right:active:after{
        color: #15e3e3;
    }

    input[type=text], input[type=password]{
        width: 80%;
        margin: 8px 0;
        display: inline-block;
        border-radius: 10px;
        border: 2px solid rgba(255, 255, 255, 0.35);
        background-color: #2b3134;
        box-sizing: border-box;
        outline: none;
        color: white;
        font-weight: normal;
        font-size: 15px;
        padding: 10px;
    }

    .logo{
        display: flex;
    }

    .logo img{
        width: 60px;
        height: auto;
        margin-left: 10px;
    }

    .logo p{
        margin-left: 10px;
        margin-top: 5px;
        font-size: 16px;
        font-weight : bold;
        color: rgba(255, 255, 255, 0.68);
    }
</style>