<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../public/fontawesome-free-5.15.4-web/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap">
</head>

<body>

<div class="mainContainer">
    <div class="header">
        <div class="logo">
            <img src="../public/images/graduates.png" alt="3 Students">
            <p>THE <br> MANAGEMENT<br> 360</p>
        </div>
    </div>

    <div class="bodyContainer">
        <div class="designed">
            <p class="designedText">Department of Computer Science</p>
        </div>

        <div class="studentProfileContainer">

            <div class="nameNUsn">
                <p class="studentName">Padmini Sharma</p>
                <p class="subText">1SG19CS072</p>
            </div>

            <div class="ageNContact">
                <p><span class="labelText">AGE : </span> 19</p>
                <p><span class="labelText">DATE OF BIRTH : </span> 06 January 2002</p>
                <p><span class="labelText">PHONE : </span>9591019359</p>
                <p><span class="labelText">EMAIL : </span>example@example.com</p>
            </div>

            <div class="caste">
                <p><span class="labelText">CASTE : </span>General</p>
            </div>

            <div class="depNClass">
                <p><span class="labelText">DEPARTMENT : </span>Computer Science and Engineering</p>
                <p><span class="labelText">CLASS : </span>5B</p>
                <p><span class="labelText">SEMESTER : </span>VI</p>
                <p><span class="labelText">SCHEME : </span>2018</p>
            </div>

            <div class="proctor">
                <p><span class="labelText">PROCTOR : </span>Prof. Anuradha</p>
            </div>


        </div>

        <div class="designedSecondary">
            <p class="designedTextSecondary">Lectures & Aggregates</p>
        </div>

        <div class="scheduleNAggregateContainer">

            <div class="containerHead">
                <p>Lectures : </p>
            </div>

            <div class="scheduleContainer">

                <form action="">
                    <div class="weekdayRadioButtons">
                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="Monday">
                            MONDAY
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="Tuesday">
                            TUESDAY
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="Wednesday" checked>
                            WEDNESDAY
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="Thursday">
                            THURSDAY
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="Friday">
                            FRIDAY
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="Saturday">
                            SATURDAY
                        </label>
                    </div>
                </form>

                <ul class="lecturesSch">
                    <li>DBMS <br> 8:30PM - 9:30PM</li>
                    <li>ADP <br> 9:30PM - 10:30PM</li>
                    <li>CN <br> 10:50PM - 11:50PM</li>
                    <li>ME <br> 11:50PM - 12:50PM</li>
                    <li>ATC <br> 1:45PM - 2:40PM</li>
                    <li>EVS <br> 2:40PM - 3:35PM</li>
                    <li>UP <br> 3:35PM - 4:30PM</li>
                </ul>


            </div>

            <div class="aggregatesContainer">

                <div class="containerHead">
                    <p>Internal Aggregates : </p>
                </div>

                <form action="">

                    <div class="weekdayRadioButtons">

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="IA1">
                            IA - 1
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="IA2">
                            IA - 2
                        </label>

                        <label class="radioControl">
                            <input type="radio" name="weekdaySch" value="IA3" checked>
                            IA - 3
                        </label>

                    </div>

                </form>

                <div class="subIAAggregates">

                    <div class="aggregateContainer">
                        <p><span class="labelText">DBMS</span> <br> <span class="aggregateDesign">28.2</span><span class="labelText">/ 30 </span></p>
                    </div>

                    <div class="aggregateContainer">
                        <p><span class="labelText">ADP</span> <br> <span class="aggregateDesign">24.1</span><span class="labelText">/ 30 </span></p>
                    </div>

                    <div class="aggregateContainer">
                        <p><span class="labelText">CN</span> <br> <span class="aggregateDesign">26.5</span><span class="labelText">/ 30 </span></p>
                    </div>

                    <div class="aggregateContainer">
                        <p><span class="labelText">ME</span> <br> <span class="aggregateDesign">19.2</span><span class="labelText">/ 30 </span></p>
                    </div>

                    <div class="aggregateContainer">
                        <p><span class="labelText">ATC</span> <br> <span class="aggregateDesign">29.8</span> <span class="labelText">/ 30 </span></p>
                    </div>

                    <div class="aggregateContainer">
                        <p><span class="labelText">EVS</span> <br> <span class="aggregateDesign">30</span><span class="labelText">/ 30 </span></p>
                    </div>

                    <div class="aggregateContainer">
                        <p><span class="labelText">UP</span> <br> <span class="aggregateDesign">19.8</span><span class="labelText">/ 30 </span></p>
                    </div>



                </div>

            </div>

        </div>

    </div>
</div>

</body>

</html>

<style>
    *{
        margin: 0;
        padding: 0;
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
    }

    body{
        background-color: #2b3134;
        height: 100%;
        margin: 0;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
    }

    .logo{
        display: flex;
    }

    .logo img{
        width: 60px;
        height: auto;
        margin-left: 10px;
    }

    .logo p{
        margin-left: 10px;
        margin-top: 5px;
        font-size: 16px;
        font-weight : bold;
        color: rgba(255, 255, 255, 0.68);
    }

    .bodyContainer{
     }

    .designed{
        width: 800px;
        height: auto;
        margin: 90px auto auto;
    }

    .designedText{
        font-size: 50px;
        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    }

    .designedSecondary{
        width: 800px;
        height: auto;
        margin: 20px auto auto;
    }

    .designedTextSecondary{
        font-size: 50px;
        font-weight: lighter;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-color: #FF3CAC;
        background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    }

    .studentProfileContainer, .scheduleNAggregateContainer{
        border: 2px solid rgba(21, 227, 227, 0.84);
        width: 800px;
        height: auto;
        border-radius: 10px;
        padding: 20px;
        margin: auto auto 10px;
        box-shadow: -5px -5px 11px rgba(113, 113, 113, 0.15), 5px 5px 11px rgba(22, 20, 20, 0.15);
    }

    .nameNUsn{
        font-size: 30px;
        font-weight: normal;
        color: rgba(255, 95, 31, 0.90);
    }

    .subText{
        font-size: 20px;
        font-weight: lighter;
        font-style: italic;
        color: rgba(238, 238, 238, 0.41);
        margin-bottom: 10px;
    }


    .ageNContact, .depNClass, .caste{
        display: flex;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.70);
        margin-bottom: 10px;
    }

    .proctor{
        font-size: 25px;
        color: rgba(255, 255, 255, 0.70);
    }

    .labelText{
        font-size: 12px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.14);
        margin-left: 10px;
    }

    .containerHead p{
        font-size: 30px;
        font-weight: lighter;
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
        color: #15e3e3;
        margin-bottom: 10px;
    }

    :root {
        --radioControl-color: rgba(255, 95, 31, 0.90);
    }

    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }

    body {
        margin: 0;
    }

    form {
        display: grid;
    }
    .weekdayRadioButtons{
        display: flex;
        color: rgba(255, 255, 255, 0.50);

    }

    .radioControl {
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.1;
        display: flex;
        grid-template-columns: 1em auto;
        gap: 0.5em;
        margin-right: 10px;
    }


    .radioControl:focus-within {
        color: var(--radioControl-color);
    }

    input[type="radio"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: #2b3134;
        /* Not removed via appearance */
        margin: 0;

        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 50%;
        transform: translateY(-0.075em);

        display: grid;
        place-content: center;
    }

    input[type="radio"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        border-radius: 50%;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--radioControl-color);
    }

    input[type="radio"]:checked::before {
        transform: scale(1);
    }

    input[type="radio"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
        color: rgba(255, 255, 255, 0.70);
    }

    .lecturesSch{
        list-style-type: none;
        padding: 0;
        overflow: hidden;
        background-color: #2b3134;
        margin: 0 0 20px;
    }

    .lecturesSch li{
        float: left;
        margin-right: 10px;
        margin-top: 10px;
        color: white;
        background-color: rgba(255, 165, 0, 0.30);
        border-radius: 20px;
        padding: 5px 15px;
        font-size: 10px;
    }

    .subIAAggregates{
        display: flex;
        margin-top: 10px;
    }

    .aggregateContainer{
        width: 100px;
        margin-right: 10px;
    }

    .aggregateDesign{
        color: rgba(255, 69, 0, 0.70);
        font-family: Roboto Condensed, "Helvetica Neue", sans-serif;
        font-weight: lighter;
        font-size: 30px;
    }

</style>